@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
    margin: 0;
    font-family: 'Mulish';
}

/* Animation start*/

@keyframes anim{
    0%{
        transform: translateY(100px);
    }
}

/* Animation end */

@media screen and (max-width:767px) {
    .contact-top-para span{
        display:none;
    }

    .navbar-nav .nav-item{
        text-align: center;
        margin-bottom: 5px;
    }

    .d-block .carousel-text{
        margin-left: 0px;
    }

    .d-block .carousel-text h1{
        font-size: 20px;
        line-height: 25px;
        padding-bottom:10px;
    }
    .d-block .carousel-text p{
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
    .modal-content .modal-body{
        padding: 0px 10px 0px 10px;
    }

    .about{
        margin: 0px;
        width: 100% !important;
    }
    .courses .datascience-row{
        display: none;
    }

    .courses .container{
        width: 95%;
    }
    .courses .course-card-col{
        margin-bottom: 30px;
    }
    .courses .courses-heading h3{
        font-size: 20px;
    }
    body .courses {
        padding-top: 50px;
    }
    .courses .hidden-course{
        display: block;
    }
    .courses .all-course-btn{
        margin-block: 0px 20px;
    }
    .courses .all-course-btn button{
        margin-top: 0;
    }
}

header{
    background-color: #5e068a;
    padding-block: 8px;
}
.contact-top{
    background-color: #5e068a;
    font-family: 'Montserrat';
}

.contact-top a{
    text-decoration: none;
    color: #fff;
}

.contact-top-para{
    font-size: 12px;
    text-align: center;
    margin: 0;
}
.contact-top-para:hover{
    cursor: pointer;
}

.contact-top-para span{
    font-size: 13px;
}

.logo{
    width: 65%;
}

.links{
    font-size: 18px;
    font-weight: 700;
    padding-block: 2px;
    color: black;
    display: inline;
}

.links:hover{
    color: #5e068a;
    border-bottom: 3px solid;
    cursor: pointer;
}

#selected{
    color: #5e068a;
    font-weight: 800;
    border-bottom: 3px solid ;
}

.carousel1{
    background-image: url("./WhatsApp\ Image\ 2022-12-06\ at\ 9.47.42\ AM.jpeg");
}
.carousel2{
    background-image: url("./WhatsApp\ Image\ 2022-12-06\ at\ 9.47.43\ AM.jpeg");
}

.carousel-item{
    
    background-position: center;
    background-size: cover;
}

.d-block{
    height: 500px;
    background-color: rgba(0, 0, 0, 0.415);
}

.carousel-text{
    margin-left: 350px;
    height: 500px;
    z-index: 2;
}

.carousel-text h1{
    font-size: 60px;
    color: #fff;
    line-height: 64px;
    padding-bottom: 20px;
    font-weight: 700;
    animation: anim 800ms ease-in-out 0s 1;
}


.carousel-text p{
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    max-width: 610px;
    font-weight: 500;
    animation: anim 1100ms ease-in-out 0s 1;
}

.carousel-btn{
    margin-top: 30px;
    padding: 20px 40px;
    background-color: #5e068a;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    width: 220px;
    color: #fff;
    border: none;
    animation: anim 1200ms ease-in-out 0s 1;
}

.carousel-btn:hover{
    background-color: #9e6ab9;
}


.modal-trigger-button{
    background-color: #5e068a;
    border-radius: 20px;
    font-size: 14px;
}
.modal-trigger-button:hover{
    background-color: #9e6ab9;
}


.modal-dialog{
    max-width: 700px;
}

.modal-header{
    border: none;
}

.modal-content{
    padding: 20px;
}

.modal-body h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.modal-body{
    padding: 0px 100px 0px 100px;
}

.modal-body .form-control{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(202, 210, 210);
    border-radius: 0;
    padding: 0px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0px 10px 5px;
    margin-top: 20px;
}

.modal-body .form-control:focus{
    box-shadow: none;
}

.modal-comments{
    resize: none;
}

.form-control option{
    width: 100%;
    margin-left: 0;
}

.modal-btn{
    border: 0;
    border-radius: 0;
    background-color: #5e068a;
    padding: 8px 40px 8px 40px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.modal-btn:hover{
    background-color: #9e6ab9;
}

.about {
    height: auto;
    width: 75%;
}

.about h3{
    color: #5e068a;
    font-size: 32px;
    padding-top: 22px;
}

.about h4{
    font-size: 18px;
    color: #9e6ab9;
}

.about p{
    line-height: 28px;
    margin-bottom: 12px;
    font-size: 15px;
    max-width: 565px;
}

.about img{
    width: 100%;
    vertical-align: middle;
}

.about-btn{
    background-color: #5e068a;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #5e068a;
}

.about-btn:hover {
    color: #5e068a;
    background-color: #ffff;
    border: 2px solid #5e068a;
}

.datascience-row{
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.datascience-row:hover{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.167);
    transform: translateY(-2px);
}

.datascience-cont{
    margin-bottom: 30px;
}
.datascience-img-main{
    background-color: #ffff;
}

.datascience-img{
    background-image: url("http://web.archive.org/web/20211126071531im_/https://www.luminartechnolab.com/storage/uploads/data-science-1588143159.jpg");
    background-size: cover;
    height: 340px;
    background-position: center;
}

.courses{
    padding-top: 100px;
    background-color: #f5f5f5;
}

.courses-heading h3{
    font-size: 32px;
    font-weight: 700;
    color: #5e068a;
}
.courses-heading{
    margin-bottom: 30px;
    height: auto;
}
.courses-heading span{
    color: #9e6ab9;
}

.datascience-cont{
    width: 75%;
}

.datascience-details{
    padding: 30px 20px;
    background-color: #fbfbfb;
}

.datascience-details h3{
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 700;
    color: rgb(94, 6, 138);
    font-weight: 700;
    text-transform: uppercase;
}
.datascience-details p{
    font-size: 14px;
}

.datascience-details p a{
    color: #5e068a;
}

.hidden-course{
    display: none;
}

.course-card{
    width: 100%;
    margin: 0px;
    height: 100%;
    border: none;
}

.course-card-col{
    margin-bottom: 20px;
}

.course-card:hover{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.167);
    transform: translateY(-2px);
}

.card-img-top{
    height: 200px;
}

.card-title{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #5e068a;
    margin-top: 20px;
}

.card-body{
    padding-inline: 25px;
}
.card-body p{
    font-size: 14px;
    color: rgb(66, 64, 64);
}

.card-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.card-btn{
    padding: 7px 20px;
    background-color: #5e068a;
    border: 0;
    font-size: 14px;
    margin-block: 10px;
}

.all-course-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.button-all-courses{
    padding: 16px 27px;
    font-weight: 700;
    margin-top: 21px;
    border-radius: 50px;
    border: 2px solid #5e068a;
    color: #5e068a;
    align-self: center;
    font-size: 14px;
}
.button-all-courses:hover{
    background-color: #5e068a;
    color: #ffff;
}

